.sidebar {
  height: 100vh;
  background-color: rgb(237, 242, 246);
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 20px;
}

.sidebarTitle {
  font-size: 15px;
  color: rgb(33, 64, 168);
}

.sidebarList {
  list-style: none;
  padding: 15px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(207, 209, 212);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
