.containerr {
  display: flex;
  margin-top: 10px;
}

.newProduct {
  flex: 4;
  margin-left: 100px;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.onClick {
  cursor: pointer;
}

.custom-file-upload {

  display: inline-block;

  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.img-wrapper{
  overflow:hidden;
}

img.hover-zoom:hover {
  transform: scale(1.55);
}

.uploadImges{
  width: "10px";
  height: "10px";
}
