.containerr {
  display: flex;
  margin-top: 10px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLg {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.onClick {
  cursor: pointer;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}
